<!doctype html>
<html>
<head>
	<title>My name is agian khan and lets see how long it takes to do websdevelopment</title>
	<link rel="stylesheet"  href="style.css">
<style> 

.uzair{
font-family: Arial,Helvetica,sans-serif;
color:#0000ff;
	font-style: italic;
	font-weight: bold;
font-size: 24px;
text-transform: capitalize;
text-align: center;
}

header.navigation {
	color:blue;
	font-size:20px;
	
	padding:200px;
	background-color: yellow;
	


	
	border:10px solid;
}
p{
width: 300px;
height:300px
}
#p1{
	background-color: #ff00bb;
	position: absolute;
	left:100px;
	bottom:0px;	
}
#p2{
	background-color: black;
position: relative;
top:10px;
	
}
#p3{
	background-color: #0000bb;
	
}
img.picture{

	width:200px;
	height:200px; 
	}
	/*** large devices only****/
@media(min-width: 1250px)
{
					#p1{
							width:50%;
							height: 50%;
background-color: blue;
				}
}
/*** large devices only****/
@media(min-width: 792px) and (max-width: 1199px)
{
					#p1{
							width:50%;
							height: 50%;
background-color: red;
				}
}
</style>
</head>
<body>
<header class="navigation">
	<dev id="box">
	<p id="p1"> uzairThe URL to clone your project can be found on the start page of your project on the GitLab website The URL to clone your project can be found on the start page of your project on the GitLab websiteThe URL to clone your project can be found on the start page of your project on the GitLab websiteThe URL to clone your project can be found on the start page of your project on the GitLab website.</p>
	<figure >
	<img src="image.jpg" class="picture">
</figure>
<p id="p2">It will be similar to git@collaborating.tuhh.de:user12/tutorial.git. Start git-colaThe URL to clone your project can be found on the start page of your project on the GitLab websiteThe URL to clone your project can be found on the start page of your project on the GitLab website
and select “clone”. Paste the URL into the text box.</p>

 <p id="p3">In the next step, you have to select the parentThe URL to clone your project can be found on the start page of your project on the GitLab website
directory for the new repository. Create a new folder “mws” in your home folder and set it as the
parent directory by clicking on “Open”.</p>


</dev>
</header>>
<h1>I need to be fast enough to deal with problems</h1>
<h2>hello coursera its a great course</h2>
<h2 href="">lets have the use of websync,what will happen now</h2>>
<p style="text-align: center;">I am the paragraph but the problem is that the web sync is not working chor aye ham wo galya,lets see if it works</p>>


</body>
</html>>